.back-img1{
  background-image:linear-gradient(#161515b3,#2822222b) , url('../images/hero-bg.jpg') ;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
height: 100vh;
z-index: -1;
}
.header-top{
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px;
}
/* navbar starts */
.navbar{
  background-color:#00000080;
    padding: 10px 0;
}
.navbar-brand{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 30px;
}
.navbar-nav{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 16px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(243 243 243);
}
.navbar-dark .navbar-nav .nav-link:hover{
  color:#cda45e;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color:#cda45e;
  }
/* navbar ends */
/* head banner */
  .masthead{
    padding: 170px 0;
  }
.masthead h1{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 45px;
  font-weight: 800;
}
.masthead span{
  color: #cda45e;
}
.masthead p{
  color: white;
font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 25px;
}
.btn-outline-success{
  border-radius: 25px;
  border-color: #cda45e;
  border-width: 2px;
  color: white;
  padding: 6px;
  width: 140px;
}
.btn-outline-success:hover{
  background-color: #cda45e;
  border-color: #cda45e;
}
/* about */
.about{
background-image:linear-gradient(#161515b3,#2822222b) , url('../images/about-bg.jpg') ;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
z-index: -1;
padding: 100px;
}
.about-info{
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.about-info ul{
  list-style-type: none;
  padding-left: 0;
}
.fa-circle-check{
  color: #cda45e;
  padding: 5px;
}
/* why us */
.why-us{
  padding: 50px 0;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  }
  .why-us h6{
    color: grey;
  }
  .why-us h6::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
  }

  .why-us h2{

    color: #cda45e;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
  }
  .why{
    display: flex;
    justify-content: center
  }
.w-cards{
  background-color: #383838;
  padding: 20px;
  margin: 15px;
  width: 30%;
}
.w-cards h3{
  color: #cda45e;
}
.w-cards h4{
  color: white;
}
.w-cards p{
  color: grey;
  padding: 15px 0;
}

@media only screen and (max-width: 782px){
  .why{
    flex-direction: column;

  }
  .w-cards{
    width: 100%;
  }
}
/* menu */
.menu{
  padding: 100px 0;
  background-color: #383838
}
.menu h5{
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.menu h5::after{
  content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
}
.menu h2{
  font-size: 42px;
  color: #cda45e;
  padding: 10px 0 30px 0;
  font-family: 'Open Sans', sans-serif;
}
.menu-nav{
  list-style: none;
    justify-content: center;
    display: flex;
}
.menu-item .nav-link{
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.menu-item .nav-link.active{
  color: #cda45e;
}
.menu-item .nav-link:hover{
  color: #cda45e;
}

.menu-card{
  display: flex;
  justify-content:flex-start;
  flex-wrap: nowrap;
  padding: 20px 0;
}
.menu-images{
  width: 15%;
}
.m-ind-img{
width: 80%;
border-radius: 30%;
}
.menu-ing a{
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}
.menu-ing a::after{
  content: "……………………";
  color:grey;
}
.menu-ing span{
    font-family: 'Open Sans', sans-serif;
    color: #cda45e;
    font-size: 20px;
}
.menu-ing p{
  color: grey;
    font-family: 'Open Sans', sans-serif;
}
